apiVersion: apps/v1
kind: Deployment
metadata:
  name: application
  namespace: default
  labels:
    type: frontend
spec:
  template:
    metadata:
      labels:
        type: frontend
    spec:
      containers:
      - name: application
        image: kulbhushanmayer/nodejs-app:v1
        ports:
        - name: application
          containerPort: 4000
        env:
        - name: DB_PWD
          value: india123
  replicas: 4
  selector:
    matchLabels:
      type: frontend
